*{
    padding:0px;
    margin:0px;
    box-sizing:border-box; 
}
body{
    background-color:rgb(8, 8, 8);
    font-family:sans-serif;
    color:aliceblue;
    line-height:1.6;
}
.outermost{
    display:grid;
    max-width:1200px;
    grid-template-columns:350px 1fr;
    gap:40px;
    padding-top:40px;
    margin:auto;
    

}
.sidebar{
    background-color:rgba(167, 166, 166, 0.258);
    height:90vh;
    border-radius:10%;
    border:1px solid rgb(54, 53, 53);
    padding:40px;

}
.maincontent{
    background-color:rgba(167, 166, 166, 0.258);
    border-radius:10%;
    height:90vh;
    border:1px solid rgb(54, 53, 53);
}
/*profile section*/
.profile{
    text-align:center;
}
.profile img{
    height:120px;
    width:120px;
    border-radius:50%;
    border:1px solid rgb(54, 53, 53);
}
.profile h2{
    font-size:1.5rem;
    font-weight:700;
    margin-top:20px;


}
.profile p{
    display:inline-block;
    padding:5px 15px;
    background-color:rgb(20, 20, 20);
    color:yellow;
    border-radius:8px;
    border:1px solid rgb(57, 55, 55);
    font-size:.8rem;
    margin-top:10px;
}
/*contact section*/
.contactus{
    margin-top:30px;
    border-top:1px solid rgb(57, 55, 55);
    border-bottom:1px solid rgb(57, 55, 55);
    padding-top:20px;
    padding-bottom:20px;
}
.grey{
    font-weight:500;
    font-size:0.8rem;
    color:rgb(159, 157, 157)
}
.white{
    text-decoration: none;
    color:aliceblue
}
.email,.contact,.location{
    margin-bottom:12px;
}
/*link section*/
.link{
    margin-top:10px;
    padding-top:0px;
    padding-bottom:50px;
    text-align:center;
}
.link img{
    height:24px;
    width:24px;
    margin-left:6px;
    filter:grayscale(1) invert(0.7);
    transition: filter 0.3s ease;
}
.link img:hover{
    filter:grayscale(0) invert(0);
}
