*{
    padding:0px;
    margin:0px;
    box-sizing:border-box;/*two make  the content inside the tag (box)wont go or overflow outside of the box  * means this css we written applicable to all tags etc*/
}
body{
    background-color:#1e1e1e;
    font-family:sans-serif;
    color:#a0a0a0;
    line-height:1.6;
}
.outermost{
    display:grid;
    max-width:1200px;
    /*why the height is not specified ..it is because to we dont know the exxact height because the sidebar have screen height but the maincontent div have very large height therefore we didnt mention height here*/
    grid-template-columns:350px 1fr;
    gap:40px;
    padding-top:40px;
    margin:auto;/*it will make the element inside outermost  at center horizontally verticallym argin 0px   margin: 0 auto  make top and bottom 0px*/

}
.sidebar{

    height:90vh;
    background-color:#2a2a2a;
    border:1px solid rgb(73, 72, 72);
    border-radius:16px;/*OCCUR BASED on ratio so dont use percentageg (use onlu for making circle etc otherwise use px*/
    padding:40px;
}
.maincontent{
    height:90vh;
    background-color:#2a2a2a;
    border:1px solid rgb(73, 72, 72);
    border-radius:16px;;

}
#profilepic{
    height:120px;
    width:120px;
    border-radius:50%;
    border:1px solid rgb(73, 72, 72);

}
.profile h2{
    font-size:1.5rem;
    font-weight:700;
    margin-top:20px;
    color:white;
}
.profile p{
    background-color:#1e1e1e;
    color:yellow;
    border:1px solid rgb(73, 72, 72);
    padding:5px 15px;
    margin-top:10px;
    font-size:0.8rem;
    border-radius:8px;
    display:inline-block;
    /*without display:inline-bllock
       the element(here profile p)is a block element therefore will take the fullwidth of its parent container..
       by converting inline therefore the element behave like inline element and become only large as content inside
       by giving inline block elements the the element will behave like inline but we can apply block proprties like margin padding etc*/
}
.profile{
    text-align:center;/*it will move inline elements contents(not element therefore the background colour wont move but its content that is here text move to center)to the center horizontally*/
}
.contactus{
    margin-top:30px;/*add spcae alove contactus element*/
    border-top:1px solid rgb(73, 72, 72);
    padding-top:20px;
    border-bottom:1px solid rgb(73, 72, 72);
    padding-bottom:20px;
}
.label{
    font-weight:500;
    font-size:0.8rem;
    color:#a0a0a0;
}
.value{
    color:white;
    text-decoration:none;/*to prevent anchor tag*/
}
.email,.phone{
    margin-bottom:10px;
}